body {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

.main {
    color: white;
    margin-top: 230px;
    padding: 0 8rem;
}

/* .container {
    padding: 0 8rem;
} */

h1 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

.para {
    font-weight: bold;
    font-size: 15px;
}

.span {
    color: rgb(236, 232, 102);
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* .btn:hover {
    background-color: white;
    color: red;
    cursor: pointer;
   
} */