body {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(237, 75, 75);
    color: white;
    height: 60px;
   
    
}
.heading{
    display: inline-block;
    vertical-align: middle;
   

}
li a{
    text-decoration: none;
    color: white;
}

li{
    
    display: inline-block;
    padding: 20px;
}
.navigation{
    float: right;
    vertical-align: middle;
}


.main {

    height: 1000px;
    color: white;
    margin-top: 170px;
    line-height: 50px;

}

.container1 {
    padding: 0 8rem;
}



.para {
    font-weight: bold;
    font-size: 15px;
}

.span {
    color: rgb(236, 232, 102);
}

.btn {
    background-color: red;
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* .btn:hover {
    background-color: white;
    color: red;
    cursor: pointer;
   
} */